[Unit]
Description=mt7921e driver activation on boot
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot-mods
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target